* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex {
  display: flex;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 10px;
}

.j-center {
  justify-content: center;
}

.a-center {
  align-items: center;
}

.white {
  color: black;
  background-color: white;
}

.black {
  color: white;
  background-color: black;
}

.gray {
  color: black;
  background-color: gray;
}

.gray:hover {
  background-color: whitesmoke
}

.r25 {
  margin-right: 2.8px;
}

.l25 {
  margin-left: 2.8px;
}

.card {
  width: 350px;
  padding: 10px;
  margin: 20px;
}

.titulo {
  padding: 10px;
}

.photo {
  width: 100%;
  margin-top: 10px;
}

.edad-fecha {
  display: flex;
}

.edad {
  width: 40%;
}

.fecha {
  width: 60%;
}

.datos {
  padding: 5px;
  margin-top: 5px;
}

p {
  font-size: 16px;
}

.flecha {
  margin-top: 10px;
  width: 50%;
  font-size: 20px;
  font-weight: 600;
}
.flecha-center{
  width: 40%;
}
.description{
  display: flex;
  justify-content: center;
  margin-top: 5px;
  font-weight: bold;
  padding: 25px;
  background-color: white;
  color: black;
}